<article class="home-container">
  <h1 id="name">Dionisius Andrean Sihombing</h1>
  <h2 id="desc">Active Learner | AI Enthusiast | Front End Developer</h2>
  <div id="contact">
    <a
      mat-stroked-button
      href="mailto: andrean.sihombing83@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      id="mail"
    >
      Email</a
    >

    <a
      mat-stroked-button
      href="https://www.linkedin.com/in/andrean-sihombing/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Linkedin
    </a>
    <a
      mat-stroked-button
      href="https://github.com/imandreans"
      target="_blank"
      rel="noopener noreferrer"
      >Github</a
    >
    <a
      mat-stroked-button
      href="https://x.com/imandreans"
      target="_blank"
      rel="noopener noreferrer"
    >
      <!-- <X></X> -->
      X/Twitter</a
    >
  </div>
</article>
